# OS
.DS_Store
node_modules/
src/envs
postgres
dist

# Editor directories and files
/.idea
/.vscode
/.vs
*.sublime-*
*.swp

# Logs
/logs
*.log

# Build files
/coverage
.nyc_output
*.d.ts

# Nest-specific
/.nestjs
node_modules
